.container {
    padding-top: 50px;
    /* margin:  ; */
    padding: greenyellow;
    border: 30%;

}

/* body {
    background-image: url("../images/formBackground.jpg");
    
    background-size: cover;
    /* background-color: blue 

  } 